<div class="container">
  <h4>Add Custom Code</h4>
  <form (ngSubmit)="onSubmit()" #InputForm="ngForm" id="customCodeForm">
    <div class="form-group">
      <p>Enter your custom JS code in the text area below</p>
      <textarea rows="4" cols="50" name="codeBox" form="customCodeForm" required [(ngModel)]="inputInfo.codeSnippet" #codeSnippet="ngModel"></textarea>
      <div [hidden]="codeSnippet.valid || codeSnippet.pristine" class="alert alert-danger">
        Code Snippet is required but no <code>script tag</code> needed
      </div>
      <!-- TODO: remove this: {{inputInfo.codeSnippet}} -->  
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!InputForm.form.valid">Create</button>
  </form>
</div>

<br/>

<!-- Move the iframe code below into app-original-iframe and app-variation-iframe components -->
<div *ngIf="enableIframe" class="container">
  <h4>Variation Requested</h4>
  <iframe (load)="onLoad()" width="100%" height="300px" [src]="safeURL"></iframe>
  <!-- TODO: Disable all links within iframe -->
</div>

<div class="container">
  <button type="submit" (click)="onOriginalSubmit()" class="btn btn-primary">View Original</button>
  <button type="submit" (click)="onVariationSubmit()" class="btn btn-secondary">View Variation</button>
  <app-original-iframe *ngIf="originalRequested"></app-original-iframe>
  <app-variation-iframe *ngIf="variationRequested"></app-variation-iframe>
</div>


<div class="container">
  <!-- Need to remove the Save Button -->
  <button *ngIf="saved" (click)="save()" type="submit" class="btn btn-success">Save</button>
  
  <a [attr.href]="sanitizedPreviewUrl" target="_blank">
    <button *ngIf="previewMode" type="submit" class="btn btn-success" (click)="onPreviewClick()">Preview</button>
  </a>
</div>

<div class="container" *ngIf="readyToActivate">
  <p>Like what you see? Do you want to decide the audience and activate the test? Click Next</p>
  <button type="submit" class="btn btn-primary" (click)="onNextClick()">Next</button>
</div>
