<div class="container">
  <!-- <div [hidden]="submitted"> -->
    <h4>Test Input Form</h4>
    <form (ngSubmit)="onSubmit()" #InputForm="ngForm" id="inputForm">
      <div class="form-group">
        <label for="name">AB Test URL</label>
        <input type="text" class="form-control" id="name" name="urlName" required [(ngModel)]="inputInfo.url" #url="ngModel">
        <div [hidden]="url.valid || url.pristine" class="alert alert-danger">
          URL is required
        </div>
        <!-- TODO: remove this: {{inputInfo.url}} -->

        <br/>

        <textarea rows="4" cols="50" name="codeBox" form="inputForm" required [(ngModel)]="inputInfo.codeSnippet" #codeSnippet="ngModel"></textarea>
        <div [hidden]="codeSnippet.valid || codeSnippet.pristine" class="alert alert-danger">
          Code Snippet is required but no <code>script tag</code> needed
        </div>
        <!-- TODO: remove this: {{inputInfo.codeSnippet}} -->

      </div>
      <button type="submit" class="btn btn-success" [disabled]="!InputForm.form.valid">Create</button>
    </form>

    <br/>

  <!-- </div> -->
</div>
<br/>

<div *ngIf="enableIframe" class="container" id="variationIframe">
    <h4>Variation Requested</h4>
<!-- <div class="container"> -->
  <iframe (load)="onLoad()" width="100%" height="300px" [src]="safeURL"></iframe>
  <!-- TODO: Disable all links within iframe -->
</div>

<div *ngIf="enableIframe" class="container"  id="originalIframe" >
    <h4>Original Webpage</h4>
  <!-- <div class="container"> -->
    <iframe (load)="onLoad()" width="100%" height="300px" [src]="safeURL"></iframe>
    <!-- TODO: Disable all links within iframe -->
  </div>
<!-- {{ diagnostic }} -->

<div *ngIf="enableIframe" class="container"  id="userFriendlyIframe" >
  <h4>User Edited Webpage</h4>
<!-- <div class="container"> -->
  <iframe #iframe (load)="onLoad()" on-mouseover="over()" width="100%" height="300px" [src]="safeURL"></iframe>
  <!-- TODO: Disable all links within iframe -->
</div>
<!-- {{ diagnostic }} -->



<div *ngIf="codeAdded" class="container">
  Loaded DOM
</div>

<!-- your whole html is wrapped in a div so anywhere you click you disable contextmenu,
also the div is responsible for suppressing the default browser contextmenu -->
<div (click)="disableContextMenu()" oncontextmenu="return false;">
  <!-- this is the usage -->
  <ul>
      <li (contextmenu)="onrightClick($event)">right click me!</li>
  </ul>

  <!--you have to write this only once in your component-->
  <div *ngIf="contextmenu === true">
      <app-context-menu [x]="contextmenuX" [y]="contextmenuY"></app-context-menu>
  </div>
</div>
{{ contextmenu }}