<div class="container">
  <h1>Welcome to AB Test Creator</h1>
  <p>Create a New Test by clicking below or edit an exsiting one from the list below</p>
  <span>
    <button (click)="onclick()" type="button" class="btn btn-primary">Create</button>
  </span>
  <div class="container">
    <app-create-test *ngIf="clicked"></app-create-test>
  </div>
</div>
<br/>
<div class="container">
  <p>Current Tests in the system</p>
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Status</td>
        <td>URL</td>
        <td>Test Type</td>
        <td>Traffic</td>
        <td>Device Type</td>
        <td>Edit</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let abTest of abTests, let i = index" [attr.id]="i">
        <td>{{ abTest.testName }}</td>
        <td>{{ abTest.testDescription }}</td>
        <td>{{ abTest.testStatus }}</td>
        <td>{{ abTest.url }}</td>
        <td>{{ abTest.testType }}</td>
        <td>{{ abTest.testTraffic }}</td>
        <td>{{ abTest.deviceType }}</td>
        <td>
          <button type="button" class="btn btn-primary">Edit</button>
        </td>
        <td>
          <button type="button" (click)="deleteAbTest(i)" class="btn btn-primary">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
